.footer-p{
    text-align: center;
    background-color: rgb(15, 15, 43);
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top: 80px;
}
.white{
    color: white;    
    letter-spacing: 1px;
}